---
layout: default
title: Norwich Union Angling Club | Norwich, Norfolk, UK
keywords: norwich, norfolk, fishing club, angling club, coarse fishing, carp fishing, river fishing, NUAC, norwich union angling club
---

<div class="container non-header index-bg-colour">
  
  <div class="row hdr-theme hdr-theme-home">
    <div class="col-xs-12">
    <h1>Welcome to the Norwich Union <span class="no-wrap">Angling Club</span></h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger" role="alert">
        <span><strong>6/1/2023 The Grove - access ceases dusk 31 January</strong>, please see the relevant <a href="{{ base }}/news/news.html#NI120" class="alert-link">news item</a> for more information.</span>
      </div>
    </div> 
  </div>

  <section class="col-layout">
    <div class="thumbnail thumbnail--long fb-container">
        <div class="fb-page" data-href="{{ site.data.site.facebook-url }}"
            data-tabs="timeline" data-width="" data-height="600" data-small-header="true"
            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="{{ site.data.site.facebook-url }}"
                class="fb-xfbml-parse-ignore"><a
                    href="{{ site.data.site.facebook-url }}">Norwich Union Angling
                    Club</a></blockquote>
        </div>
    </div>

    {% for water in site.data.water-labels.waters %}
      <div class="thumbnail thumbnail-override text-center">
        <a href="{{ base }}{{ site.data.site.waters-folder }}{{water.filename}}.html">
          <div class="caption-tile">{{water.name}}</div>
          {% if water.status == "open" %}
          <img src="{{ base }}{{ site.data.site.image-folder }}{{water.open-img}}">
          {% else %}
          <img src="{{ base }}{{ site.data.site.image-folder }}{{water.closed-img}}">
          {% endif %}
        </a>
        <div class="caption caption-footer">
          {% for label in water.labels %}
            {% if label.tt-desc != nil %}
            <div class="tooltip">
              <span class="label label-{{label.type}}">{{label.desc}}</span>
              <span class="tooltiptext tt-top">{{label.tt-desc}}</span>
            </div>
            {% else %}
            <span class="label label-{{label.type}}">{{label.desc}}</span>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </section>

</div>

