---
layout: default
title: Norwich Union Angling Club | Norwich, Norfolk, UK
keywords: norwich, norfolk, fishing club, angling club, coarse fishing, carp fishing, river fishing, NUAC, norwich union angling club
---

<div class="container non-header index-bg-colour">
  
  <div class="row hdr-theme hdr-theme-home">
    <div class="col-xs-12">
    <h1>Welcome to the Norwich Union <span class="no-wrap">Angling Club</span></h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger" role="alert">
        <strong>05/01/2021 All venues are CLOSED until further notice</strong>, please see the relevant <a href="{{ base }}/news/news.html" class="alert-link">news item</a> for more information.
      </div>
    </div> 
  </div>

  <section class="col-layout">
    <div class="thumbnail thumbnail--long fb-container">
        <div class="fb-page" data-href="{{ site.data.site.facebook-url }}"
            data-tabs="timeline" data-width="" data-height="600" data-small-header="true"
            data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="{{ site.data.site.facebook-url }}"
                class="fb-xfbml-parse-ignore"><a
                    href="{{ site.data.site.facebook-url }}">Norwich Union Angling
                    Club</a></blockquote>
        </div>
    </div>

    <div class="thumbnail thumbnail-override text-center">
      <a href="{{ base }}/waters/grove.html">
        <div class="caption-tile">
          The Grove
        </div>
        {% if site.data.water-msg.grove-open-ind == true %}
        <img src="{{ base }}{{ site.data.site.image-folder }}grove-tile.jpg" style="width:100%">
        {% else %}
        <img src="{{ base }}{{ site.data.site.image-folder }}grove-closed-tile.jpg" style="width:100%">
        {% endif %}
      </a>
      <div class="caption caption-footer">
        <span class="label label-warning">Display Car Permit</span>
        <div class="tooltip">
          <span class="label label-info">Guests</span>
          <span class="tooltiptext tt-top">
            {% include guest-tt-text.html %}
          </span>
        </div> 
        <div class="tooltip">
          <span class="label label-info">Children Allowed</span>
          <span class="tooltiptext tt-top">{% include u16-tt-text.html %}</span>
        </div>
      </div>            
    </div>

    <div class="thumbnail thumbnail-override text-center">
      <a href="{{ base }}/waters/yare.html">
        <div class="caption-tile">
          River Yare
        </div>
        {% if site.data.water-msg.yare-open-ind == true %}
        <img src="{{ base }}{{ site.data.site.image-folder }}yare-tile.jpg" style="width:100%">
        {% else %}
        <img src="{{ base }}{{ site.data.site.image-folder }}yare-closed-tile.jpg" style="width:100%">
        {% endif %}
      </a>
      <div class="caption caption-footer">
        <span class="label label-warning">Display Car Permit</span>
        <span class="label label-warning">No Guests</span>
        <span class="label label-info">Day Ticket</span>
        <div class="tooltip">
          <span class="label label-info">Children Allowed</span>
          <span class="tooltiptext tt-top">{% include u16-tt-text.html %}</span>
        </div>
        <span class="label label-info">Open 16 Jun - 14 Mar</span>
      </div>
    </div>

    <div class="thumbnail thumbnail-override text-center">
      <a href="{{ base }}/waters/hallwalk.html">
        <div class="caption-tile">
          Hall Walk
        </div>
        {% if site.data.water-msg.hw-open-ind == true %}
        <img src="{{ base }}{{ site.data.site.image-folder }}hallwalk-tile.jpg" style="width:100%">
        {% else %}
        <img src="{{ base }}{{ site.data.site.image-folder }}hallwalk-closed-tile.jpg" style="width:100%">
        {% endif %}
      </a>
      <div class="caption caption-footer">
        <span class="label label-danger">Booking</span>
        <span class="label label-warning">Display Car Permit</span>
        <span class="label label-warning">No Guests</span>
      </div>
    </div>

    <div class="thumbnail thumbnail-override text-center">
      <a href="{{ base }}/waters/bridge.html">
        <div class="caption-tile">
          Bridge Inn
        </div>
        {% if site.data.water-msg.bif-open-ind == true %}
        <img src="{{ base }}{{ site.data.site.image-folder }}bridge-tile.jpg" style="width:100%">
        {% else %}
        <img src="{{ base }}{{ site.data.site.image-folder }}bridge-closed-tile.jpg" style="width:100%">
        {% endif %}
      </a>
      <div class="caption caption-footer">
        <span class="label label-danger">Booking</span>
        <span class="label label-warning">Display Car Permit</span>
        <span class="label label-warning">No Guests</span>
        <span class="label label-info">Day Ticket</span>
        <!-- <div class="tooltip">
          <span class="label label-info">Children Allowed</span>
          <span class="tooltiptext tt-top">{% include u16-tt-text.html %}</span>
        </div> -->
      </div>
    </div>

    <div class="thumbnail thumbnail-override text-center">
      <a href="{{ base }}/waters/trinity.html">
        <div class="caption-tile">
          Trinity Broads
        </div>
        {% if site.data.water-msg.fib-open-ind == true %}
        <img src="{{ base }}{{ site.data.site.image-folder }}trinity-tile.jpg" style="width:100%">
        {% else %}
        <img src="{{ base }}{{ site.data.site.image-folder }}trinity-closed-tile.jpg" style="width:100%">
        {% endif %}
      </a>
      <div class="caption caption-footer">
        <span class="label label-danger">Booking</span>
        <span class="label label-warning">Display Car Permit</span>
        <div class="tooltip">
          <span class="label label-info">Guests</span>
          <span class="tooltiptext tt-top">
              {% include guest-tt-text.html %}
          </span>
        </div>
        <div class="tooltip">
          <span class="label label-info">Children Allowed</span>
          <span class="tooltiptext tt-top">
            {% include u16-tt-text.html %}{% include boat-tt-text.html %}
          </span>
        </div>
        <span class="label label-info">Boat Fishing</span>
        <span class="label label-info">Open 16 Jun - 14 Mar</span>
      </div>
    </div>

    <div class="thumbnail thumbnail-override text-center">
      <a href="{{ base }}/waters/hickling.html">
        <div class="caption-tile">
          Hickling Broad
        </div>
        {% if site.data.water-msg.hib-open-ind == true %}
        <img src="{{ base }}{{ site.data.site.image-folder }}hickling-tile.jpg" style="width:100%">
        {% else %}
        <img src="{{ base }}{{ site.data.site.image-folder }}hickling-closed-tile.jpg" style="width:100%">
        {% endif %}
      </a>
      <div class="caption caption-footer">
        <span class="label label-danger">Booking</span>
        <span class="label label-warning">Display Car Permit</span>
        <div class="tooltip">
          <span class="label label-info">Guests</span>
          <span class="tooltiptext tt-top">
              {% include guest-tt-text.html %}
          </span>
        </div>
        <div class="tooltip">
          <span class="label label-info">Children Allowed</span>
          <span class="tooltiptext tt-top">
            {% include u16-tt-text.html %}{% include boat-tt-text.html %}
          </span>
        </div>
        <span class="label label-info">Boat Fishing</span>
        <span class="label label-info">Open 16 Jun - 14 Mar</span>
      </div>
    </div>

    <div class="thumbnail thumbnail-override text-center">
      <a href="{{ base }}/waters/snetterton.html">
        <div class="caption-tile">
          Snetterton Pits
        </div>
        {% if site.data.water-msg.snp-open-ind == true %}
        <img src="{{ base }}{{ site.data.site.image-folder }}snetterton-tile.jpg" style="width:100%">
        {% else %}
        <img src="{{ base }}{{ site.data.site.image-folder }}snetterton-closed-tile.jpg" style="width:100%">
        {% endif %}
      </a>
      <div class="caption caption-footer">
        <span class="label label-danger">Booking</span>
        <span class="label label-warning">Display Car Permit</span>
        <span class="label label-warning">No Guests</span>
        <div class="tooltip">
          <span class="label label-warning">Day Ticket</span>
          <span class="tooltiptext tt-top">{% include compulsory-charge-tt-text.html %}</span>
        </div>
      </div>
    </div>

    <div class="thumbnail thumbnail-override text-center">
      <a href="{{ base }}/waters/ndaa.html">
        <div class="caption-tile">
          Norwich & District AA
        </div>
        {% if site.data.water-msg.ndaa-open-ind == true %}
        <img src="{{ base }}{{ site.data.site.image-folder }}ndaa-tile.jpg" style="width:100%">
        {% else %}
        <img src="{{ base }}{{ site.data.site.image-folder }}ndaa-closed-tile.jpg" style="width:100%">
        {% endif %}
      </a>
      <div class="caption caption-footer">
        <span class="label label-danger">Booking</span>
        <span class="label label-warning">No Guests</span>
        <div class="tooltip">
          <span class="label label-info">Children Allowed</span>
          <span class="tooltiptext tt-top">
              {% include u16-tt-text.html %}{% include boat-tt-text.html %}{% include decoy-tt-text.html %}
          </span>
        </div>
        <span class="label label-info">Open 16 Jun - 14 Mar</span>
      </div>
    </div>

  </section>

 
</div> <!-- END OF non-header  -->

