.non-header {
    background-color:  $body-bg-colour;
    padding-bottom:    $page-padding-bottom;
    min-height:        $pageMinHeight;

    & > * + * {
        padding-top: 20px;
    }

    
}

.no-banner > :first-child {
    padding-top: 20px;
}

.f-right {
    float: right;
}
.pad-r-5{
    padding-right: 5px;
}

#water-desc, #water-rules, #water-map, #image-gallery, #media-gallery, #water-booking, .NI-format, .info-format {
    padding: $section-pad-T-B $section-pad-L-R;
    background-color: $section-bg-colour;

    h1, h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    & .fas {
        margin-right: .5em;
    }

}

#water-desc, #water-rules, #water-map, #water-booking {

    ol {
        margin: 0;
        padding-inline-start: 3.25rem;
       
        & > li {
            margin-top: 0;
            margin-bottom:      0.6em;
        }        
    }

}


.NI-format {
    & > h1, h2, h3, h4 {
        margin: 0 0 1rem 0;
    }

    & > .row + .row {
        padding-top: 1rem;
    }

}

.tab-content-ndaa {
    padding:    $direction-pad-T-B 0;
}

.nopadding {
    padding: 0;
    margin: 0;
}

.nopaddingR {
    padding: 0px 0px 0px 15px;
    margin: 0;
}

.no-wrap {
    white-space: nowrap;
}

small {
    color: $hdr-colour;
}

mark {
    background-color: $brand-primary-nuac;
    color: $hdr-colour;
}

#water-map .alert {
    margin-bottom: 10px;
}

.news-item-card {
    padding: 1em;
    margin-bottom: 1em;
    // color: $dark; //$navbar-light-color;
    background-color: $section-bg-colour;
  
    & h3 {
        margin-top: .1em;
    }
    & .fas {
        margin-left: .5em;
    }

    & a {
        text-decoration: none;
        background-color: #3363FF;
        border-radius: 6px;
        color: $section-bg-colour;
        padding: 10px 16px;
    }

    & a:active {
        border-color: #0034db;
        background-color: $brand-primary-nuac;
    }

    & a:hover {
        background-color: #0034db;
        border-color: #002499;
    }

    & a:active, a:hover {
        outline: 0;
    }
    // &:nth-child(2n) {
    //   // color: $navbar-light-color;
    //   background-color: $body-bg-colour;
    // }
    & > p:nth-child(3) {
        padding-top: 1rem;
    }

    & .btn {
        text-align: left;
    }
}

@media (max-width: $screen-xs) {
    .news {
        & .btn-block-txt {
            font-size: 100%;
    
            & small {
                font-size: 1em;
            }
        }
    
    }
    
}
