    {% if page.file-txt == "hickling" %}
        <p>Whispering Reeds <a href="http://whisperingreeds.net/">boatyard</a> at Hickling will make one rowing boat a day available free of charge to NUAC members.</p>
        <p>Please note that Whispering Reeds do not have a fleet licence for the use of outboards on their boats.</p>
        <p>Please use an unhooking mat in the bottom of boats to protect fish from damage.</p>
        <p><b><u>Please ensure that you have adequate personal buoyancy aids - your safety is your own responsibility.</u></b> Whispering Reeds can provide life jackets on request.</p>
    {% else %}
        <ol>
            <li>Only 2 advance bookings can be in place at any one time for any member. Either two separate days or one consecutive two-day period.
                <i>Anyone making a consecutive two-day booking cannot return to the same venue within 24 hours.</i>
            </li>
            <li>Whole day booking is from 08:00 on the first day to 08:00 on the following day. This enables overnight fishing on those venues where night fishing is allowed.</li>
            <li>If you are only planning a part day, please state the approximate period you would be on the water. For example if you were just going for the morning, we might be able to release the ticket to someone else who fancies going for the afternoon.</li>
            {% if page.rules-url != nil %}
                <li>Please ensure you have read the <a href="{{ page.rules-url }}" target="_blank">fishery rules</a> before booking.</li>
            {% else %}
                <li>Please ensure you have read the relevant fishery rules before booking.</li>
            {% endif %}
        </ol>
    {% endif %}