	
      <nav class="navbar navbar-inverse navbar-default navbar-fixed-top container">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand navbar-custom">
              <a class="navbar-left" href="{{ base }}/index.html"><img src="{{ base }}{{ site.data.site.image-folder }}NUAC-home-icon.svg" class="icon-img" alt="nuac logo"></a>
              <p class="navbar-text hidden-xs">Norwich Union Angling Club</p>
            </div>
            <div class="social-icons">
              <a class="navbar-brand navbar-fa-icon" href="{{ site.data.site.facebook-url }}"><i class="fab fa-facebook-square fa-inverse fa-2x"></i></a>                
            </div>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-pills navbar-right typekit-menu">
              <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle{% if page.category == 'waters' %} active{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Waters<span class="caret"></span></a>
                   <ul class="dropdown-menu">
                    {% for item in site.waters %}
                    {% if item.category == 'waters' %}
                    <li{% if page.title contains item.menu %} class="active"{% endif %}><a href="{{base}}{{item.url}}">{{item.menu}}</a></li>
                    {% endif %}
                    {% endfor %}  
                   </ul>
              </li>
              <li class="nav-item"><a href="{{ base }}/news/news.html">News</a></li>
              <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle{% if page.category == 'info' %} active{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info<span class="caret"></span></a>
                   <ul class="dropdown-menu">
                    {% for item in site.info %}
                    {% if item.category == 'info' %}
                    <li{% if page.title contains item.menu %} class="active"{% endif %}><a href="{{base}}{{item.url}}">{{item.menu}}</a></li>
                    {% endif %}
                    {% endfor %}  
                   </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
        
     </nav>
