{% for water in site.data.water-labels.waters %}
{% if page.title contains {{water.name}} %}
<div class="row hdr-theme">
    <div class="col-xs-12 col-sm-6">
      <h1>{{ water.heading }}</h1>
    </div>
    <div class="col-xs-12 col-sm-6 hdr-label-section text-sm-right mt-sm-12">
      {% for label in water.labels %}
      {% if label.tt-desc != nil %}
      <div class="tooltip">
        <span class="label label-{{label.type}}">{{label.desc}}</span>
        <span class="tooltiptext tt-bottom">{{label.tt-desc}}</span>
      </div>
      {% else %}
      <span class="label label-{{label.type}}">{{label.desc}}</span>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endfor %}