---
layout: default
---
<div class="container non-header">

    {% include waterHdr.html %}
  
    {% include waterMsg.html %}
    
    {% if page.sections != nil %} 
    {% for section in page.sections %}
    <div class="row">
        <div class="col-xs-12">
        {% if section.sctn-title != nil %}
        <div id="{{section.sctn-hash}}" class="water-format">
          <h2>{{section.sctn-title}}</h2>
      {% endif %}
  
        {% if section.paragraphs != nil %} 
        {% for para in section.paragraphs %}
          {% if para.col != nil %}
          <!-- Add row once on first col -->
            {% if para.col-pos == "start" %}
          <div class="row">
            {% endif %}
            <div class="col-xs-12 {{para.col}}">
            {% if para.hdr != nil %}
              {% if para.hdr-lvl != nil %}
              <h4>{{para.hdr}}</h4>
              {% else%}
              <h3>{{para.hdr}}</h3>
              {% endif %}
            {% endif %}
            {% if para.img != nil %}
              <img class="md-img" src="{{ base }}{{ site.data.site.image-folder }}{{para.img}}">
            {% else %}
              {% if para.list != nil %}
              {% case para.list %}
                {% when "ol" %}
              <ol>
                {% else %}
              <ul>
              {% endcase %}
              {% endif %}
              {% for sentence in para.sentences %}
                {% if para.list != nil %}
                <li>
                {% endif %}
                  {% if sentence.txt != nil %}
                    {{sentence.txt | markdownify}}
                  {% endif %}
                {% if para.list != nil %}
                </li>
                {% endif %}
              {% endfor %}
              {% if para.list != nil %}
                {% case para.list %}
                  {% when "ol" %}
              </ol>
                  {% else %}
                </ul>
                {% endcase %}
              {% endif %}
            {% endif %}
            {% if para.tabs != nil %}
            <ul class="nav nav-tabs">
              {% for tab in para.tabs %}
							<li{% if forloop.index == 1 %} class="active"{% endif %}><a data-toggle="tab" href="#{{tab.hash}}">{{tab.label}}</a></li>
              {% endfor %}
            </ul>
						<div class="tab-content tab-content-ndaa">
              {% for tab in para.tabs %}
							<div id="{{tab.hash}}" class="tab-pane fade{% if forloop.index == 1 %} in active{% endif %}">
                {% if tab.alert-txt != nil %}
								<div class="alert alert-{{tab.alert-typ}}">
									{{tab.alert-txt}}
								</div>
								{% endif %}
                {% if tab.desc != nil %}
                {{tab.desc | markdownify}}
								{% endif %}
                {% if tab.gmap-id != nil %}
                {% assign gmap-found = true %}
                <div class="embed-responsive embed-responsive-4by3">
                  <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/embed?mid={{tab.gmap-id}}"></iframe>
                </div>
                {% endif %}
                {% if tab.sentences != nil %}
                <ul>
                {% endif %}
                {% for sentence in tab.sentences %}
								  <li>{{sentence.txt}}</li>
                {% endfor %}
                {% if tab.sentences != nil %}
                </ul>
                {% endif %}
							</div>
              {% endfor %}
            </div>
            {% endif %}
              {% for btn in para.buttons %}
                {% if btn.txt != nil %}
                <a class="btn{% if btn.size != nil %} btn-{{btn.size}}{% else %}xx{% endif %}{% if btn.style != nil %} btn-{{btn.style}}{% endif %}" href="{% if btn.target-typ == "news" %}{{ base }}{{ site.data.site.news-folder }}{% endif %}{{btn.target}}">{% if btn.icon != nil %}<i class="fas fa-{{btn.icon}}" aria-hidden="true"></i>{% endif %}{{btn.txt}}</a>
                {% endif %}
              {% endfor %}
              {% if para.include != nil %}
                {% include {{para.include}} %}
              {% endif %}
            </div> <!-- END OF col  -->
          <!-- Close row once on first col -->
          {% if para.col-pos == "end" %}
          </div> <!-- END OF row  -->
          {% endif %}
          {% else %}
          <div class="row">
            <div class="col-xs-12">
            {% if para.hdr != nil %}
              {% if para.hdr-lvl != nil %}
              <h4>{{para.hdr | markdownify}}</h4>
              {% else%}
              <h3>{{para.hdr | markdownify}}</h3>
              {% endif %}
            {% endif %}
              {% if para.img != nil %}
              <img class="md-img md-img--{{para.img-pos}}" src="{{ base }}{{ site.data.site.image-folder }}{{para.img}}" alt="{{para.img-alt}}">
              {% endif %}
              {% if para.list != nil %}
                {% case para.list %}
                  {% when "ol" %}
              <ol>
                  {% else %}
              <ul>
                {% endcase %}
              {% endif %}
              {% for sentence in para.sentences %}
                {% if para.list != nil %}
                <li>
                {% endif %}
                {% if sentence.txt != nil %}
                  {{sentence.txt | markdownify}}
                {% endif %}
                  {% if para.list != nil %}
                </li>
                {% endif %}
              {% endfor %}
              {% if para.list != nil %}
                {% case para.list %}
                  {% when "ol" %}
              </ol>
                  {% else %}
              </ul>
                {% endcase %}
              {% endif %}

              {% for btn in para.buttons %}
                {% if btn.txt != nil %}
                <a class="btn{% if btn.size != nil %} btn-{{btn.size}}{% else %}xx{% endif %}{% if btn.style != nil %} btn-{{btn.style}}{% endif %}" href="{% if btn.target-typ == "news" %}{{ base }}{{ site.data.site.news-folder }}{% endif %}{{btn.target}}">{% if btn.icon != nil %}<i class="fas fa-{{btn.icon}}" aria-hidden="true"></i>{% endif %}{{btn.txt}}</a>
                {% endif %}
              {% endfor %}
            </div> <!-- END OF col  -->
          </div> <!-- END OF row  -->
          {% endif %}
        {% endfor %}
        {% endif %}

        {% if section.sctn-title != nil %} 
        </div> <!-- END OF collapse  -->
        {% endif %}
  
      </div> <!-- END OF col  -->
    </div> <!-- END OF row  -->
    {% endfor %}
    {% endif %}


</div>  